{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
{{business.name}} Stock Report
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'business:business_profile' id=business.id %}">{{business.name}}</a></li>
<li><a href="{% url 'business:reports' id=business.id %}">Reports</a></li>
<li><a href="{% url 'business:stock_time' id=business.id %}">Time</a></li>
<li>Report</li>
{% endblock%}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel">
                <div>
                    <img src="{% static 'img/report-heading.png' %}" alt="" width="100%">
                </div>
                
                <div class="panel-heading" style="margin-bottom: 50px;">
                    <div class="panel-title">
                        <h3 style="float: left; font-weight: 700 !important; color: #28a745 !important;" class="">
                            {{business.name}} -
                            Stock Report</h3>
                        <a href="{% url 'business:stock_report' id=business.id d=d %}?fr={{fr}}&to={{to}}&pdf=1"
                            class="btn btn-primary" style="float: right; margin: 20px;" target="_blank"><i class="fa fa-print fa-lg"
                                style="margin: 0px; color: rgb(255, 255, 255) !important;"></i> </a>
                        <a href="{% url 'business:stock_report' id=business.id  d=d %}?fr={{fr}}&to={{to}}&xl=2"
                            class="btn btn-success" style="float: right; margin: 20px 0px 0px 0px;" target="_blank"><i
                                class="fa fa-file-excel-o fa-lg"
                                style="margin: 0px; color: rgb(255, 255, 255) !important;"></i> </a>
                    </div>
                </div>
                <div class="panel-body p-20 ">
                    
                    <div class="table-responsive">
                        <table id="example" class="display table table-striped table-bordered" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Product Cost</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stock in stocks %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{stock.product}}</td>
                                    <td>{{stock.quantity}}</td>
                                    <td>{{stock.cost}} {{stock.product.currency}}</td>
                                    <td>{{stock.stock_type}}</td>
                                    <td>{{stock.stock_date}}</td>
                                </tr>
    
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center">
                                        No Stock records
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<script>
    $(function () {
        $('.counter').counterUp();
    });
</script>
{% endblock %}